*{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

button{
    background-color: rgba(0, 55, 107, 0.37)!important;
    border-radius: 10px!important;
    border: 5px!important;
    margin-top: 2%;
    transition: background-color .5s;
}

button:hover{
    background-color: rgba(77, 135, 190, 0.37)!important;
    border-radius: 10px!important;
    border: 5px!important;
}

footer{
    height: 5em;
    font-size: 15px;
}

.logoEmpresa{
    width:8%;
    height: 8%;
    text-align: center;
}

.empresa{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    
    
    color: #131313;
    letter-spacing: .15em;
}

.titulo{
    font-size: 50px;
}

.subtitulo{
    margin-top: 10%;
    font-size: 15px;
}

.botonCita{
    width: 50%;
    margin-left: 2em;
    margin-bottom: 3em;
}

.empresaTexto{
    font-size: 30px;
    margin-left: 2em;
}

.cuadroCita{
    padding-top: 2%;;
    margin-left: 4em;
    border: 2px solid black;
    width: 25em;
}

.signoReturn{
    width:100%;
    height: 100%;
    text-align: center;
}

.logoFooter{
    width:20%;
    height: 20%;
    text-align: center;
    margin-top: 0.5em;    
}

.datos{
    font-size: 20px;
    margin-right: 2%;
}

.btn-historial{
    margin: 1%;
}

.cuadroDniExistente{
    padding-top: 2%;;
    margin-left: 4em;
    border: 2px solid black;
    width: 40%;
}

.dni{
    padding-top: 2%;
}

#crear-cita{
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#fila1{
    padding-top: 0.25em;
    height: 2.5em;
}

#fila2{
    height: 2.5em;
}

#imagen{
    height: 5em;
}

#indicador-user{
    font-size: 15px;
    margin-right: 5%;
}

#barra{
    margin-left: 2%;
    width: 100%;
}

#btn-return{
    margin: 20%;
}

#input-dni{
    width: 100%
}

#columna-historiales{
    padding-left: 2%
}

#foto-espera-img{
    width: 90%;
    margin: 5%;
}

#info-cliente-seleccionado{
    width: 100%;
    margin-top: 2%;
}

#historial-titulo{
    margin-top: 2%;
}