*{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

#btn-nuevo-trat{
    background-color:  green!important;
}

.btns-eliminar{
    background-color: red!important;
    font-size: 130%;
}

.btns-editar{
    background-color: grey!important;
    font-size: 130%;
}


.logoEmpresa{
    width:8%;
    height: 8%;
    text-align: center;
}

.empresa{
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    
    
    color: #131313;
    letter-spacing: .15em;
}

.titulo{
    font-size: 50px;
}

.subtitulo{
    margin-top: 10%;
    font-size: 15px;
}

button{
    background-color: rgba(0, 55, 107, 0.37)!important;
    border-radius: 10px!important;
    border: 5px!important;
    margin-top: 2%;
}

.botonCita{
    width: 50%;
    margin-left: 2em;
    margin-bottom: 3em;
}

.empresaTexto{
    font-size: 30px;
    margin-left: 2em;
}

.cuadroCita{
    padding-top: 2%;;
    margin-left: 4em;
    border: 2px solid black;
    width: 25em;
}

#crear-cita{
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

footer{
    height: 5em;
    font-size: 15px;
}

#fila1{
    padding-top: 0.25em;
    height: 2.5em;
}

#fila2{
    height: 2.5em;
}

#imagen{
    height: 5em;
}

.logoFooter{
    width:20%;
    height: 20%;
    text-align: center;
    margin-top: 0.5em;    
}

#validacion{
    background-color: white;
    height: 20em;
    width: 40%;
    margin-top: 10%;
    margin-left:30%;
}

#validese{
    font-size: 25px;
}



.filaValidacion{
    margin-top: 10%;
    margin-left: 4%;
    text-align: center;
}

.etiqueta{
    font-size: 20px;
    margin-left: 10%;
}

#botonLogin{
    width: 15%!important;
    height: 8%;
    margin-left: 63%;
    margin-top: 5%;
    padding-right: 2%; 
}

.alerta{
    width: 25%;
    margin-left: 30%;
}

#indicador-user{
    font-size: 15px;
    margin-right: 5%;
}

#barra{
    margin-left: 2%;
    width: 100%;
}


#new-client{
    width:100%;
    height: 35em;
}


.new-client-entradas{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 120%;
    height: 100%;
}

.inputFormsCliente{
    font-size: 90%;
    width: 80%;
}

.form-new-client{
    border: 2px solid black;
    height: 98%;
    font-size: 80%;
    padding-top: 3%;
    padding-left: 3%;
}

#new-client-contenido{
    padding-top: 3%;
}

#tiempo-foto{
    height: 80%;
    margin-left: 15%;
    margin-top: 5%;
}

.invisible{
    display: none;
}




.infoPresentada{
    font-weight: bold;
}

#info-presentada{
    padding-top: 6%;
}


#cuadro-dni{
    margin-left: 35%;
}

.cuadroDniExistente{
    padding-top: 2%;;
    margin-left: 4em;
    border: 2px solid black;
    width: 40%;
}

#labelDniExistente{
    margin-left: 3%;
}

#dniExistente{
    width: 50%;
    margin-left: 5%;
}

#info-cliente-nueva-cita{
    margin-left: 7%;
}

#info-tratamientos{
    margin-left: 7%;
}

#fecha-cita{
    margin-left: 7%;
}

#info-hora{
    margin-left: 7%;
}


#trat-Buscador{
    width: 80%;
    margin-left: 12%;
}

#listado-tratamientos{
    border: 2px solid black;
    margin-left: 8%;
    margin-top: 4%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 3%;
}

.btns-tratamientos{
    width: 100%;
}


#forms-tratamiento{
    border: 2px solid black;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.inputFormsTratamiento{
    width: 70%;
}

#info-tratamiento{
    border: 2px solid black;
    padding-left: 4%;
    padding-top: 2%;
}